:root {
    --color-today:96,165,250;
    --color-1:96,14,250;
    --color-2:96,165,14;
    --color-3:14,165,250;
    --color-4:96,165,250;
    --color-5:96,14,14;
    --color-hezka: #151515

}